* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Rubik', sans-serif;
	background-color: #50718c;
}

p {
	margin: 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: column;
	max-width: 45rem;
	margin: 0 auto;
	padding: 0 1rem 1rem 1rem;
}

form {
	display: flex;
	position: fixed;
	padding: 1rem;
	background-color: #50718c;
	max-width: 45rem;
	height: 2.5rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-bottom: 1px solid #688ba7;
}

/* form field */
.list-item-text {
	font-size: 1rem;
	font-family: 'Rubik', sans-serif;
	flex: 3;
	padding-left: .5rem;
	color: #212e38;
	background-color: #b3ccd8;
	border: 1px solid #b0e5ff;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.add-button {
	font-family: 'Rubik', sans-serif;
	flex: 1;
	margin-left: .5rem;
	background-color: #9cd29c;
	transition: background-color .5s;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-bottom: 2px solid #8ab58a;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.add-button:hover {
	cursor: pointer;
	background-color: #8ab58a;
}

.to-do-list-elements {
	margin-top: 5.5rem;
}

.list-item {
	display: flex;
	padding: 1rem;
	margin-bottom: .5rem;
	align-items: center;
	color: #505050;
	background-color: #f8fcff;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.list-item > * {
	flex: 1;
}

/* Grocery list item name */
.list-item-name {
	max-width: 100%;
	overflow-y: scroll;
	white-space: nowrap;
}

/* 'Check Off' text */
.check-off {
	text-align: center;
	margin-right: 1rem;
	color: #8ab58a;
	max-width: 6rem;
}

.check-off:hover {
	cursor: pointer;
	opacity: .7;
}

/* 'x' symbol */
.cancel-button {
	font-size: 1.5rem;
	text-align: center;
	max-width: 2rem;
	height: 2rem;
	color: #e87a7a;
	background-color: #f3f0f0;
	line-height: 2rem;
	-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;

}

.cancel-button:hover {
	cursor: pointer;
	opacity: .7;
}

.display-none {
	display: none;
}

.strike-through {
	font-weight: bold;
	color: #8ab58a;
	text-decoration: line-through;
}

.error-message {
	display: flex;
	position: fixed;
	z-index: 1;
	top: -4rem;
	background-color: #f96363;
	color: white;
	width: 100%;
	justify-content: center;
	padding: .5rem 0 .5rem 0;
	border-bottom: 1px solid #de5a5a;
	transition: top .35s ease-in-out;
}

.display-error-message {
	top: 0;
}

@media screen and (max-width: 700px) {
	form {
		box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
		border-bottom: 0;
	}
	.list-item {
		font-size: .9rem;
	}
	.check-off {
		margin-right: inherit;
	}
}
